<h3>Add Donation</h3>
<div *ngIf="success" class="alert alert-success">
  Donation Saved!
</div>
<form>
  <div class="input-group food-name-container">
    <label for="foodNameInput" class="food-name-input-label">Food Name:</label>
    <tag-input #foodNameInput name="foodNameInput" id="foodNameInput" class="food-name-input"
               [ngModel]="foodName"
               [onlyFromAutocomplete]="false"
               [ngModelOptions]="{standalone: true}"
               [maxItems]="1"
               [secondaryPlaceholder]="placeholder"
               [separatorKeyCodes]=[9]>
      <tag-input-dropdown
        [showDropdownIfEmpty]="true"
        [autocompleteItems]="foodNames"
      >
      </tag-input-dropdown>
    </tag-input>
    <mat-slide-toggle #barcodeSlide class="barcode-checkbox"
                      (toggleChange)="barcodeChange()">
      Barcode
    </mat-slide-toggle>
    <div style="color:red;" *ngIf="invalidSubmissionAttempted" class="alert alert-danger">
      Food name is required.
    </div>
  </div>
  <div class="input-group quantity-input-container">
    <label for="quantityInput" class="quantity-input-label">Quantity:</label>
    <input #quantity name="quantityInput" id="quantityInput" type="text" class="form-control quantity-input" [defaultValue]="0">
  </div>

  <button type="submit" [disabled]="foodNameInput.items.length == 0" (click)="onSubmit(foodNameInput.items, quantity.value)"
          class="btn btn-success submit-button">
    Submit
  </button>
</form>

<div [hidden]=!barcodeEnabled class="barcode-container">
  <barcode-scanner-livestream type="upc" (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
</div>
