<h3>Update Need</h3>
<form>
  <div *ngIf="success" class="alert alert-success">
    Update Saved!
  </div>
  <div class="input-group food-name-input-container">
    <label for="foodNameInput" class="food-name-input-label">Food Name:</label>
    <tag-input #foodNameInput name="foodNameInput" id="foodNameInput" class="food-name-input"
               [ngModel]="[]"
               [onlyFromAutocomplete]="false"
               [ngModelOptions]="{standalone: true}"
               [maxItems]="1"
               [secondaryPlaceholder]="placeholder"
               [separatorKeyCodes]=[9]>
      <tag-input-dropdown
        [showDropdownIfEmpty]="true"
        [autocompleteItems]="foodNames"
      >
      </tag-input-dropdown>
    </tag-input>
    <div style="color:red;" *ngIf="invalidSubmissionAttempted" class="alert alert-danger">
      Food name is required.
    </div>
  </div>
  <div class="input-group quantity-input-container">
    <label for="quantityInput" class="quantity-input-label">Quantity:</label>
    <input #quantity name="quantityInput" id="quantityInput" type="text" class="form-control quantity-input" [defaultValue]="0">
  </div>

  <button type="submit" [disabled]="foodNameInput.items.length == 0" (click)="onSubmit(foodNameInput.items, quantity.value)"
          class="btn btn-success submit-button">
    Submit
  </button>
</form>
